<form *ngIf="form" [formGroup]="form" class="custom-form">
  <div class="form-row row1">
    <div class="form-group">
      <label for="journeyType">Journey Type</label>
      <select
        formControlName="journeyType"
        class="custom-select"
        (change)="onJourneyTypeChange()"
      >
        <option value="oneWay">One Way</option>
        <option value="roundTrip">Round Trip</option>
        <option value="multiCity">Multi City</option>
      </select>
    </div>
    <div
      *ngIf="
        form.get('journeyType')?.hasError('required') &&
        form.get('journeyType')?.touched
      "
      class="error-message"
    >
      Journey Type is required.
    </div>
    <div class="form-group">
      <label for="passengerCount">Passenger Count</label>
      <input
        type="number"
        formControlName="passengerCount"
        class="custom-input"
        min="1"
        max="4"
      />
      <div
        *ngIf="
          form.get('passengerCount')?.hasError('required') &&
          form.get('passengerCount')?.touched
        "
        class="error-message"
      >
        Passenger Count is required.
      </div>
      <div
        *ngIf="
          form.get('passengerCount')?.hasError('min') &&
          form.get('passengerCount')?.touched
        "
        class="error-message"
      >
        Passenger Count must be at least 1.
      </div>
      <div
        *ngIf="
          form.get('passengerCount')?.hasError('max') &&
          form.get('passengerCount')?.touched
        "
        class="error-message"
      >
        Passenger Count cannot exceed 4.
      </div>
    </div>
  </div>
  <div formArrayName="journeys">
    <div
      class="form-row row2"
      *ngFor="let journey of journeys.controls; let i = index; let firstItem= first"
      [formGroupName]="i"
    >

      <div *ngIf="form.get('journeyType')?.value !== 'multiCity'; else loadAll " style="display: flex; flex-direction: row">
        <div *ngIf="firstItem" class="form-group">
          <app-journey-selector
            [locationControl]="$any(journey.get('location'))"
          ></app-journey-selector>
        </div>
        <div *ngIf="firstItem">
          <app-search-date-selector
            [startDateControl]="$any(journey.get('startDate'))"
            [returnDateControl]="$any(journey.get('returnDate'))"
            [isRoundTrip]="form.get('journeyType')?.value === 'roundTrip'"
          ></app-search-date-selector>
        </div>
      </div>
      <ng-template #loadAll>
        <div style="display: flex; flex-direction: row">
          <div class="form-group">
            <app-journey-selector
              [locationControl]="$any(journey.get('location'))"
            ></app-journey-selector>
          </div>
          <div>
            <app-search-date-selector
              [startDateControl]="$any(journey.get('startDate'))"
              [returnDateControl]="$any(journey.get('returnDate'))"
              [isRoundTrip]="form.get('journeyType')?.value === 'roundTrip'"
            ></app-search-date-selector>
          </div>
          <button
            type="button"
            *ngIf="
                form.get('journeyType')?.value === 'multiCity' &&
                i >= 1 &&
                i === journeys.controls.length - 1
              "
            (click)="removeJourney(i)"
          >
            X
          </button>
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="form.get('journeyType')?.value === 'multiCity'" class="form-row">
    <button type="button custom-button" (click)="addJourney()">
      Add Journey
    </button>
  </div>
  <div class="form-row">
    <button
      type="button"
      (click)="onSearch()"
      [disabled]="!form.valid"
      class="custom-button"
    >
      Search
    </button>
  </div>
</form>

<!-- <div *ngIf="formDataJSON" class="json-output">
  <h4>Form Data in JSON Format:</h4>
  <pre>{{ formDataJSON }}</pre>
</div> -->

<div>
  <label for="jsonInput">JSON Input:</label>
  <textarea
    id="jsonInput"
    [(ngModel)]="formDataJSON"
    rows="10"
    cols="50"
  ></textarea>
  <br />
  <button class="custom-button" (click)="updateFormFromJSON()">
    Update Form
  </button>
</div>
