<form *ngIf="form" [formGroup]="form" class="custom-form">
  <div class="form-row row1">
    <div class="form-group">
      <label for="journeyType">Journey Type</label>
      <select
        formControlName="journeyType"
        class="custom-select"
        (change)="onJourneyTypeChange()"
      >
        <option value="oneWay">One Way</option>
        <option value="roundTrip">Round Trip</option>
        <option value="multiCity">Multi City</option>
      </select>
    </div>
    <div
      *ngIf="
        form.get('journeyType')?.hasError('required') &&
        form.get('journeyType')?.touched
      "
      class="error-message"
    >
      Journey Type is required.
    </div>
    <div class="form-group">
      <label for="passengerCount">Passenger Count</label>
      <input
        type="number"
        formControlName="passengerCount"
        class="custom-input"
        min="1"
        max="4"
      />
      <div
        *ngIf="
          form.get('passengerCount')?.hasError('required') &&
          form.get('passengerCount')?.touched
        "
        class="error-message"
      >
        Passenger Count is required.
      </div>
      <div
        *ngIf="
          form.get('passengerCount')?.hasError('min') &&
          form.get('passengerCount')?.touched
        "
        class="error-message"
      >
        Passenger Count must be at least 1.
      </div>
      <div
        *ngIf="
          form.get('passengerCount')?.hasError('max') &&
          form.get('passengerCount')?.touched
        "
        class="error-message"
      >
        Passenger Count cannot exceed 4.
      </div>
    </div>
  </div>
  <div formArrayName="journeys">
    <div
      class="form-row row2"
      *ngFor="let journey of journeys.controls; let i = index"
    >
      <div [formGroupName]="i">
        <div style="display: flex; flex-direction: row">
          <div class="form-group">
            <label for="location">Location</label>
            <input
              type="text"
              formControlName="location"
              class="custom-input"
              (input)="onLocationInputChange($event, i)"
              [value]="journey.get('location')?.value?.name || ''"
            />
            <div *ngIf="journey.get('location')?.hasError('required') && journey.get('location')?.touched" class="error-message">
              Location is required.
            </div>
            <ul
              class="suggestions"
              *ngIf="suggestedLocations[i] && suggestedLocations[i].length > 0"
            >
              <li
                class="suggestion-item"
                *ngFor="let location of suggestedLocations[i]"
                (click)="selectLocation(location, i)"
              >
                {{ location.name }}
              </li>
            </ul>
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input
              type="date"
              formControlName="startDate"
              class="custom-input"
            />
            <div *ngIf="journey.get('startDate')?.hasError('required') && journey.get('startDate')?.touched" class="error-message">
              Start Date is required.
            </div>
          </div>
          <div
            class="form-group"
            *ngIf="form?.get('journeyType')?.value === 'roundTrip'"
          >
            <label for="returnDate">Return Date</label>
            <input
              type="date"
              formControlName="returnDate"
              class="custom-input"
            />
            <div *ngIf="journey.get('returnDate')?.hasError('required') && journey.get('returnDate')?.touched" class="error-message">
              Return Date is required.
            </div>
          </div>
          <button
            type="button"
            *ngIf="
              form.get('journeyType')?.value === 'multiCity' &&
              i >= 1 &&
              i === journeys.controls.length - 1
            "
            (click)="removeJourney(i)"
          >
            X
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="form.get('journeyType')?.value === 'multiCity'" class="form-row">
    <button type="button custom-button" (click)="addJourney()">
      Add Journey
    </button>
  </div>
  <div class="form-row">
    <button
      type="button"
      (click)="onSearch()"
      [disabled]="!form.valid"
      class="custom-button"
    >
      Search
    </button>
  </div>
</form>

<div *ngIf="formDataJSON" class="json-output">
  <h4>Form Data in JSON Format:</h4>
  <pre>{{ formDataJSON }}</pre>
</div>
