.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
}

.suggestion-item {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.suggestion-item:hover {
  background-color: #ddd;
}

label {
  display: block;
}

input,
select {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  position: absolute;
}
